<h1>Login</h1>
<div class="form-group">

    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="thomas.devine@atu.ie">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" placeholder="password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
</div>